NET "HSCLK" TNM_NET = HSCLK;
TIMESPEC TS_HSCLK = PERIOD "HSCLK" 100 ns HIGH 50%;
NET "BBC_PHI0" TNM_NET = BBC_PHI0;
TIMESPEC TS_BBC_PHI0 = PERIOD "BBC_PHI0" 200 ns HIGH 50%;
#NET "*" OFFSET = OUT 45 ns AFTER "hsclk" ;
#NET "*" OFFSET = OUT 45 ns AFTER "bbc_phi2" ;
#NET "cpu_phi2" OFFSET = OUT 23 ns AFTER "hsclk" ;



