NET "HSCLK" TNM_NET = HSCLK;
TIMESPEC TS_HSCLK = PERIOD "HSCLK" 100 ns HIGH 50%;
NET "BBC_PHI0" TNM_NET = BBC_PHI0;
TIMESPEC TS_BBC_PHI0 = PERIOD "BBC_PHI0" 200 ns HIGH 50%;
#NET "*" OFFSET = OUT 45 ns AFTER "hsclk" ;
#NET "*" OFFSET = OUT 45 ns AFTER "bbc_phi2" ;
#NET "cpu_phi2" OFFSET = OUT 23 ns AFTER "hsclk" ;

 PIN "bbc_data[3]" LOC = P1  ;
 PIN "bbc_adr[2]" LOC = P2  ;
 PIN "bbc_adr[1]" LOC = P3  ;
 PIN "bbc_data[2]" LOC = P4  ;
 PIN "bbc_adr[0]" LOC = P6  ;
 PIN "bbc_data[1]" LOC = P7  ;
 PIN "bbc_data[0]" LOC = P8  ;
 PIN "bbc_sync" LOC = P9  ;
 PIN "bbc_rnw" LOC = P10  ;
 PIN "nmib" LOC = P11  ;
 PIN "irqb" LOC = P12 ;
 PIN "bbc_phi1" LOC = P13  ;
 PIN "rdy" LOC = P14  ;
 PIN "bbc_phi2" LOC = P15  ;
 PIN "tp[0]" LOC = P16  ;
 PIN "tp[1]" LOC = P17  ;
 PIN "dip[0]" LOC = P18  ;
 PIN "dip[1]" LOC = P19  ;
 PIN "cpu_vpb" LOC = P20  ;
 PIN "hsclk" LOC = P22  ;
 PIN "bbc_phi0" LOC = P23  ;
 PIN "cpu_rdy" LOC = P24  ;
 PIN "cpu_rstb" LOC = P25  ;
 PIN "cpu_phi2" LOC = P27  ;
 PIN "cpu_vda" LOC = P28  ;
 PIN "cpu_irqb" LOC = P29  ;
# PIN "" LOC = P30  ;
 PIN "cpu_nmib" LOC = P32  ;
 PIN "cpu_e" LOC = P33  ;
 PIN "cpu_rnw" LOC = P34  ;
 PIN "cpu_vpa" LOC = P35  ;
 PIN "ram_adr[18]" LOC = P36  ;
 PIN "ram_adr[16]" LOC = P37  ;
 PIN "ram_adr[15]" LOC = P39  ;
 PIN "ram_adr[14]" LOC = P40  ;
 PIN "ram_adr[17]" LOC = P41  ;
 PIN "cpu_adr[0]" LOC = P42  ;
 PIN "ram_web" LOC = P43  ;
# PIN "tdi" LOC = P45  ;
 PIN "cpu_adr[1]" LOC = P46  ;
# PIN "tms" LOC = P47  ;
# PIN "tck" LOC = P48  ;
 PIN "cpu_adr[2]" LOC = P49  ;
 PIN "cpu_adr[3]" LOC = P50  ;
 PIN "cpu_adr[4]" LOC = P52  ;
 PIN "ram_oeb" LOC = P53  ;
 PIN "cpu_adr[5]" LOC = P54  ;
 PIN "cpu_adr[6]" LOC = P55  ;
 PIN "ram_ceb" LOC = P56  ;
 PIN "cpu_adr[7]" LOC = P58  ;
 PIN "cpu_adr[8]" LOC = P59  ;
 PIN "cpu_adr[9]" LOC = P60  ;
 PIN "cpu_adr[10]" LOC = P61  ;
 PIN "cpu_adr[11]" LOC = P63  ;
 PIN "cpu_adr[12]" LOC = P64  ;
 PIN "cpu_adr[15]" LOC = P65  ;
 PIN "cpu_adr[13]" LOC = P66  ;
 PIN "cpu_adr[14]" LOC = P67  ;
 PIN "cpu_data[0]" LOC = P68  ;
 PIN "cpu_data[1]" LOC = P70 ;
 PIN "cpu_data[2]" LOC= P71 ;
 PIN "cpu_data[3]" LOC = P72  ;
 PIN "cpu_data[4]" LOC = P73  ;
 PIN "cpu_data[5]" LOC = P74  ;
 PIN "cpu_data[6]" LOC = P76  ;
 PIN "cpu_data[7]" LOC = P77  ;
 PIN "bbc_adr[11]" LOC = P78  ;
 PIN "bbc_adr[12]" LOC = P79  ;
 PIN "bbc_adr[10]" LOC = P80  ;
 PIN "bbc_adr[13]" LOC = P81  ;
 PIN "bbc_adr[9]" LOC = P82  ;
# PIN "tdo" LOC = P83  ;
 PIN "bbc_adr[14]" LOC = P85;
 PIN "bbc_adr[8]" LOC = P86  ;
 PIN "bbc_adr[15]" LOC = P87  ;
 PIN "bbc_adr[7]" LOC = P89  ;
 PIN "bbc_data[7]" LOC = P90  ;
 PIN "bbc_adr[6]" LOC = P91  ;
 PIN "bbc_data[6]" LOC = P92  ;
 PIN "bbc_adr[5]" LOC = P93  ;
 PIN "bbc_data[5]" LOC = P94  ;
 PIN "bbc_adr[4]" LOC = P95  ;
 PIN "bbc_data[4]" LOC = P96  ;
 PIN "bbc_adr[3]" LOC = P97  ;
 PIN "resetb" LOC = P99  ;

