NET "BBC_CK8" TNM_NET = BBC_CK8;
TIMESPEC TS_BBC_CK8 = PERIOD "BBC_CK8" 105 ns HIGH 50%;
NET "BBC_CK2_PHI0" TNM_NET = BBC_CK2_PHI0;
TIMESPEC TS_BBC_CK2_PHI0 = PERIOD "BBC_CK2_PHI0" 210 ns HIGH 50%;
NET "cpu_ck_phi2" OFFSET = OUT 28 ns AFTER "bbc_ck8" ; 
PIN "rdy" LOC = P1;
PIN "cpu_e" LOC = P2;
PIN "cpu_ck_phi2" LOC = P3;
PIN "ram_ceb" LOC = P4;
PIN "bbc_ck2_phi2" LOC = P5;
PIN "bbc_ck8" LOC = P9;
PIN "sda" LOC = P13;
PIN "scl" LOC = P14;
PIN "gpio[0]" LOC = P15;
PIN "gpio[1]" LOC = P17;
PIN "gpio[2]" LOC = P18;
PIN "gpio[3]" LOC = P19;
PIN "gpio[4]" LOC = P20;
PIN "gpio[5]" LOC = P21;
PIN "gpio[6]" LOC = P23;
PIN "bbc_addr14" LOC = P24;
PIN "bbc_addr15" LOC = P25;
PIN "addr[6]" LOC = P31;
PIN "ram_addr17" LOC = P32;
PIN "bbc_data[0]" LOC = P33  ;
PIN "bbc_data[1]" LOC = P34  ;
PIN "bbc_data[2]" LOC = P35  ;
PIN "bbc_data[3]" LOC = P36  ;
PIN "bbc_data[4]" LOC = P39  ;
PIN "bbc_data[5]" LOC = P40  ;
PIN "bbc_data[6]" LOC = P43  ;
PIN "bbc_data[7]" LOC = P44  ;
PIN "ram_addr18" LOC = P45;
PIN "addr[7]" LOC = P46;
PIN "addr[8]" LOC = P47;
PIN "addr[9]" LOC = P48;
PIN "addr[10]" LOC = P50;
PIN "addr[11]" LOC = P51;
PIN "addr[12]" LOC = P52;
PIN "addr[13]" LOC = P53;
PIN "addr[14]" LOC = P54;
PIN "addr[5]" LOC = P55;
PIN "addr[4]" LOC = P56;
PIN "addr[15]" LOC = P57;
PIN "addr[3]" LOC = P58;
PIN "addr[2]" LOC = P61;
PIN "cpu_data[7]" LOC = P62;
PIN "addr[1]" LOC = P63;
PIN "addr[0]" LOC = P65;
PIN "cpu_data[6]" LOC = P66;
PIN "cpu_data[0]" LOC = P67;
PIN "cpu_data[5]" LOC = P68;
PIN "cpu_data[1]" LOC = P69;
PIN "cpu_data[4]" LOC = P70;
PIN "cpu_data[2]" LOC = P71;
PIN "cpu_data[3]" LOC = P72;
PIN "resetb" LOC = P74;
PIN "bbc_sync" LOC = P75;
PIN "bbc_ck2_phi0" LOC = P76;
PIN "rnw" LOC = P77;
PIN "bbc_rnw" LOC = P79;
PIN "ram_addr16" LOC = P80;
PIN "bbc_ck2_phi1" LOC = P81;
PIN "vda" LOC = P82;
PIN "vpa" LOC = P83;
PIN "vpb" LOC = P84;



