NET "HSCLK" TNM_NET = HSCLK;
TIMESPEC TS_HSCLK = PERIOD "HSCLK" 100 ns HIGH 50%;
NET "BBC_PHI0" TNM_NET = BBC_PHI0;
TIMESPEC TS_BBC_PHI0 = PERIOD "BBC_PHI0" 200 ns HIGH 50%;
NET "*" OFFSET = OUT 45 ns AFTER "hsclk" ;
NET "*" OFFSET = OUT 45 ns AFTER "bbc_phi2" ;
NET "cpu_phi2" OFFSET = OUT 23 ns AFTER "hsclk" ;

PIN "bbc_data[4]" LOC = P1;
PIN "bbc_data[3]" LOC = P2;
PIN "bbc_data[2]" LOC = P3;
PIN "bbc_data[1]" LOC = P4;
PIN "bbc_data[0]" LOC = P5;
PIN "bbc_rnw"  LOC = PIN6;
PIN "bbc_sync" LOC = PIN7;
PIN "hsclk" LOC = P9; # GCK1
PIN "bbc_phi0" LOC = PIN10; # GCK2
PIN "bbc_phi2" LOC = PIN11;
PIN "bbc_phi1" LOC=PIN12; # GCK3
PIN "rdy" LOC = P13;
PIN "gpio[5]" LOC = P14;
PIN "gpio[4]" LOC = P15;
PIN "gpio[3]" LOC = P17;
PIN "gpio[2]" LOC = P18;
PIN "gpio[1]" LOC = P19;
PIN "gpio[0]" LOC = P20;
PIN "ram_adr18" LOC = P21;
PIN "ram_adr17" LOC = P23;
PIN "ram_adr16" LOC = P24;
PIN "ram_ceb" LOC = P25;
PIN "ram_web" LOC = PIN26; 
PIN "nmib" LOC = P31;
PIN "irqb" LOC = P32;
PIN "cpu_vda" LOC = P33  ;
PIN "cpu_vpb" LOC = P34  ;
PIN "cpu_phi2" LOC = P35  ;
PIN "cpu_vpa" LOC = P36  ;
PIN "cpu_e" LOC = PIN37;
PIN "cpu_rnw" LOC = P39  ;
PIN "cpu_data[0]" LOC = P40  ;
PIN "cpu_data[1]" LOC = P41  ;
PIN "cpu_data[2]" LOC = P43  ;
PIN "cpu_data[3]" LOC = P44  ;
PIN "cpu_data[4]" LOC = P45;
PIN "cpu_data[5]" LOC = P46;
PIN "cpu_data[6]" LOC = P47;
PIN "cpu_data[7]" LOC = P48;
#--- unused  LOC = P50;
PIN "cpu_adr[15]" LOC = P51;
PIN "cpu_adr[14]" LOC = P52;
PIN "cpu_adr[13]" LOC = P53;
PIN "cpu_adr[12]" LOC = P54;
PIN "cpu_adr[11]" LOC = P55;
PIN "cpu_adr[10]" LOC = P56;
PIN "cpu_adr[9]" LOC = P57;
PIN "cpu_adr[8]" LOC = P58;
PIN "cpu_adr[7]" LOC = P61;
PIN "cpu_adr[6]" LOC = P62;
PIN "cpu_adr[5]" LOC = P63;
PIN "cpu_adr[4]" LOC = P65;
PIN "cpu_adr[3]" LOC = P66;
PIN "cpu_adr[2]" LOC = P67;
PIN "cpu_adr[1]" LOC = P68;
PIN "cpu_adr[0]" LOC = P69;
PIN "bbc_adr[8]" LOC = P70;
PIN "lat_en" LOC = P71;
PIN "bbc_adr[9]" LOC = P72;
PIN "resetb" LOC = P74;    # GSR
PIN "bbc_adr[12]" LOC = P75;
PIN "bbc_adr[11]" LOC = P76; # GTS1
PIN "bbc_adr[10]" LOC = P77; # GTS2
PIN "bbc_adr[13]" LOC = P79;
PIN "bbc_adr[14]" LOC = P80;
PIN "bbc_adr[15]" LOC = P81;
PIN "bbc_data[7]" LOC = P82;
PIN "bbc_data[6]" LOC = P83;
PIN "bbc_data[5]" LOC = P84;



